<div class= "container wiki">
<div class= "paginate ">
  <%= will_paginate @wikis %>
</div>
<div class="container-fluid center-block" style= "width: 75%">
  <div class= "row header" >
    <h1 class= "text-center">All Wikis</h1>
  </div>
  <div class= " text-center center-block" style= "width: 40%">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-primary btn-block text-danger'%>
  </div>
  <div class ="wiki_titles" style= "margin-top: 20px" >
    <% @wikis.each do |wiki| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading text-center">
            <%= link_to wiki.markdown_title, wiki %>
          </h4>
          <small class= "text-center text-warning">
            <%= wiki.markdown_body %>
          </small>  
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class= "paginate">
  <%= will_paginate @wikis %>
</div>
</div>


